<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>VIRTUAERO</title>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static/css/styles.css" />
</head>
<body>
  <nav>
    <img src="static/img/img1.png" class="logo" alt="Logo" />
    <div class="hamburger-button" onclick="toggleMenu()">☰</div>
    <div class="navigation" id="navbar">
      <a href="/" class="active">Home</a>
      <a href="/results">Results</a>
      <a href="/Activities">Activities</a> 
      <a href="/About">About</a> 
    </div>
  </nav>

  <div class="container">
    <h1 class="title">VIRTUAERO</h1><br><br>
    <p class="quote">Elevating pilot training to the next dimension.</p>
    <img src="static/img/image.png" class="jet" alt="Jet" />
    <div class="particles"></div>
  </div>

  <script src="static/js/script.js"></script>
</body>
</html>